<app-top-bar></app-top-bar>

<div class="p-3" *ngIf='loc'>

    <mat-tab-group mat-tab-group>

        <mat-tab mat-tab>

            <ng-template mat-tab-label>{{'Current Weather' | translate}}</ng-template>

            <app-current-weather></app-current-weather>

        </mat-tab>


        <mat-tab mat-tab>

            <ng-template mat-tab-label>{{'Forecast' | translate}}</ng-template>

            <app-forecast></app-forecast>

        </mat-tab>

    </mat-tab-group>

</div>

<div *ngIf='!loc' class="p-3 text-info">
    <h1 class=" border-dark border text-center p-5 jumbotron">{{'Enter location to find weather info' | translate}}</h1>
</div>
