.mat-tab-label {
    color: #0062cc;
    background-color: #e0e0e0;
    /*opacity: 1 !important;*/
    cursor: pointer;
    line-height: 1em;
    cursor: pointer;
    appearance: none;
    width: 50%;
    font-weight: 900;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    opacity: .6;
    min-width: 0px;
    font-size: 25px;
}

.mat-tab-label-active {
    color: #e0e0e0;
    background: #0062cc;
    /*opacity: 1 !important;*/
    cursor: pointer;
    line-height: 1em;
    cursor: pointer;
    appearance: none;
    width: 50%;
    font-weight: 900;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    opacity: .6;
    min-width: 0px;
    font-size: 25px;
}
