<div *ngIf='resultFound()'>
    <br>
    <h1 class="text-center text-primary font-weight-bold">{{'current weather data' | translate}}</h1>
    <br>
    <table class="table table-bordered table-dark table-responsive table-striped rounded-lg m-auto mt-2 mt-md-0">

        <thead class="text-center h1 text-info m-auto mt-2 mt-md-0">
            <tr>
                <td class="container">{{'Time' | translate}}: {{currentWeather.dt*1000 | date:'d,M ,y, h:mm:ss a'}}</td>
                <td class="container">{{currentWeather?.name}},{{currentWeather?.sys.country}}</td>
            </tr>
        </thead>

        <tbody class="text-center h5 m-auto mt-2 mt-md-0">
            <tr *ngFor='let w of currentWeather.weather'>
                <td>{{'Description' | translate}}</td>
                <td class="text-danger h3 font-weight-bold">
                    {{w?.description}}
                    <img class="bg-info rounded-circle" src="http://openweathermap.org/img/wn/{{w?.icon}}@2x.png" alt="Weather icon">
                </td>
            </tr>
            <tr>
                <td>{{'Current Temperature' | translate}}</td>
                <td>{{currentWeather.main?.temp - 273.15 | number}}<sup>o</sup>C</td>
            </tr>
            <tr>
                <td>{{'Temperature Min' | translate}}</td>
                <td>{{currentWeather.main?.temp_min - 273.15 | number}}<sup>o</sup>C</td>
            </tr>
            <tr>
                <td>{{'Temperature Max' | translate}}</td>
                <td>{{currentWeather.main?.temp_max - 273.15 | number}}<sup>o</sup>C</td>
            </tr>
            <tr>
                <td>{{'Clouds' | translate}}</td>
                <td>{{currentWeather.clouds?.all}}%</td>
            </tr>
            <tr>
                <td>{{'Humidity' | translate}}</td>
                <td>{{currentWeather.main?.humidity}}%</td>
            </tr>
            <tr>
                <td>{{'Pressure' | translate}}</td>
                <td>{{currentWeather.main?.pressure}} hpa</td>
            </tr>
            <tr>
                <td>{{'Visibility' | translate}}</td>
                <td>{{currentWeather.visibility}}m</td>
            </tr>
            <tr>
                <td>{{'Location Searched' | translate}}</td>
                <td>{{ currentWeather?.name }},{{ currentWeather?.sys.country }}.</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div *ngIf='!resultFound()'>
    <h1 class="text-center text-primary">{{'Failed to get Weather Or City not found' | translate}}</h1>
</div>
